<div class="container">




   <app-input (clickLoc)="getLoc($event)"
             (childEvent)="getChildEvent($event)"
             (childEvent2) = "getChildEvent2($event)"
             (clickEvent)="getNavNum($event) "
             (clickRes)="getResEvent($event)"
              (clickClear)="getClearEvent($event)"
              [clickButton] = isRes
              (clickButtonEvent2)="getClickButtonEvent2($event)"
   >

  </app-input>

<div class="result"
*ngIf = "selectClearOrReset != 1">


<div class="nav1" style="display: block">

  <app-nav *ngIf = "data && data2" [values] = data  [values2] = data2  [values3] = loc (clickEvent)="seletnavbar($event)"  (clickDetailEvent)="getClickDetailEvent($event)" ></app-nav>

</div>



<div *ngIf="data">

  <div [@animSlider]="counter">
	<ng-container >
		<div *ngIf="0===counter" >
<div>
    <div class="table2" *ngIf="isDaily">
<app-table2 *ngIf="clickNum === 0 " [values]=data   (dayEvent)="getDayDetail($event)"></app-table2>
</div>
<div class="table1" style="display: block" *ngIf="!isDaily"><app-table *ngIf="clickNum === 0" [values]=data   (dayEvent)="getDayDetail($event)"></app-table></div>

  </div>
		</div>
    <div *ngIf="(1===counter) || (isday && loc && data2)">
       <div *ngIf= "isday && loc && data2">
    <app-detail *ngIf="clickNum===3"  [values]=data [values2] = day [values3] = loc [values4] = data2 (clickListEvent)="getClickListEvent($event)">
    </app-detail>
  </div>
    </div>
	</ng-container>
</div>








<app-chart *ngIf="clickNum===1" [values] = data ></app-chart>
<app-charttwo *ngIf="clickNum===2"  [values] = data></app-charttwo>
  <!--<div *ngIf= "isday && loc && data2">-->
    <!--<app-detail *ngIf="clickNum===3"  [values]=data [values2] = day [values3] = loc [values4] = data2 (clickListEvent)="getClickListEvent($event)">-->
    <!--</app-detail>-->


  <!--</div>-->
</div>

</div>
<div class="favorite"
  *ngIf="selectClearOrReset != 1">
<app-favorite *ngIf ="isFav === true && isEmpty != true;" (clickRebuildEvent)="getRebuildEvent($event)" (clickRemoveEnd)="getRemoveEnd($event)" (clickRes)="getClickEvent($event)"></app-favorite>
<app-alert *ngIf="isEmpty === true">
</app-alert>


</div>






  <!--<app-detail></app-detail>-->
</div>


