
<div style="margin-top: 5%"></div>
<div class="table container" style="width: 100% ">
  <table class="table widget-table table-hover">

<thead>
      <tr class="row">
         <th class="col-3" >#</th>

         <th class="col-3">City</th>
         <th class="col-3">State</th>
         <th class="col-3"></th>

      </tr>
    </thead>
<tbody>
    <tr *ngFor="let d  of favoriteData; let i = index" scope="row" class="row" >
       <td class="col-3" ><b>{{i + 1}}</b></td>

         <td class="col-3" ><a (click)="rebuild(i)" style="color: blue; text-decoration: underline; cursor: pointer">{{favoriteCity[i]}}</a> </td>
         <td class="col-3"><a (click)="rebuild(i)" style="color: blue; text-decoration: underline; cursor: pointer">{{favoriteState[i]}}</a></td>
         <td class="col-3" (click)="remove(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></td>


    </tr>
    </tbody>
  </table>
</div>
